In [1]:
import pandas as pd
import matplotlib as plt
import seaborn as sns

In [2]:
df = pd.read_csv("../data/raw/Data - Riesgos.csv")

In [6]:
df.info()
df.head(10)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4500 entries, 0 to 4499
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   ID             4500 non-null   int64
 1   edad           4487 non-null   float64
 2   meses          4494 non-null   float64
 3   max_ant        4496 non-null   float64
 4   ingreso        4495 non-null   float64
 5   score          4495 non-null   float64
 6   tipo_vivienda  4500 non-null   int64
 7   zona           4494 non-null   float64
 8   nivel          4500 non-null   int64
 9   riesgo         4500 non-null   int64
dtypes: float64(6), int64(4)
memory usage: 351.7 KB

,ID,edad,meses,max_ant,ingreso,score,tipo_vivienda,zona,nivel,riesgo
0,2208,33.0,128.0,6.0,3230.0,192.0,2,3.0,2,1
1,2211,32.0,185.0,7.0,2930.0,217.0,2,1.0,5,1
2,2212,28.0,NaN,7.0,1883.7,202.0,2,1.0,2,1
3,2216,56.0,200.0,0.0,850.0,194.0,2,1.0,5,1
4,2218,32.0,131.0,65.0,3200.0,200.0,2,1.0,2,1
5,2219,34.0,145.0,6.0,7000.0,196.0,2,5.0,2,1
6,2226,NaN,114.0,0.0,2171.5,178.0,2,2.0,1,1
7,2227,27.0,116.0,0.0,800.0,169.0,2,1.0,5,1
8,2228,26.0,182.0,6.0,3150.0,190.0,4,3.0,5,1
9,2230,25.0,154.0,1.0,2600.0,189.0,2,1.0,2,1

In [27]:
df["tipo_vivienda"].value_counts()

2    3092
4    1317
1      50
3      41
Name: tipo_vivienda, dtype: int64

In [19]:
df.isnull().sum()

ID                0
edad             13
meses             6
max_ant           4
ingreso           5
score             5
tipo_vivienda     0
zona              6
nivel             0
riesgo            0
dtype: int64

In [21]:
df[df["edad"].isna()]

,ID,edad,meses,max_ant,ingreso,score,tipo_vivienda,zona,nivel,riesgo
6,2226,NaN,114.0,0.0,2171.50,178.0,2,2.0,1,1
34,2290,NaN,182.0,0.0,5000.00,214.0,4,1.0,2,1
56,2327,NaN,147.0,14.0,593.57,188.0,2,1.0,5,1
59,2331,NaN,116.0,0.0,901.51,168.0,4,1.0,5,1
83,2368,NaN,149.0,17.0,2300.00,187.0,2,1.0,2,1
106,2409,NaN,145.0,0.0,1350.00,156.0,2,3.0,5,1
157,2496,NaN,205.0,59.0,15531.00,197.0,2,3.0,2,1
209,2587,NaN,257.0,0.0,3905.00,185.0,2,1.0,5,1
259,2688,NaN,160.0,0.0,773.00,192.0,2,1.0,5,1
314,2792,NaN,177.0,0.0,1381.97,178.0,4,1.0,5,1
389,2942,NaN,158.0,0.0,1840.00,173.0,2,1.0,5,1
517,3179,NaN,178.0,18.0,2300.00,192.0,2,3.0,2,1
586,3318,NaN,126.0,0.0,1800.00,207.0,2,1.0,2,1

In [30]:
pd.crosstab(df["tipo_vivienda"], df["riesgo"])

riesgo           0     1
tipo_vivienda
1               18    32
2              858  2234
3                6    35
4              468   849

In [31]:
pd.crosstab(df["tipo_vivienda"], df["riesgo"], values=df["ingreso"], aggfunc="mean")

riesgo                   0            1
tipo_vivienda
1              9416.074444  7758.401250
2              4742.843753  3256.323456
3              2903.571667  2410.949143
4              8106.362009  5392.906541