In [2]:
import pandas as pd
import numpy as np
import seaborn as sd

In [3]:
data = pd.read_csv('../data/raw/data_act_01.csv', sep=';')

In [4]:
data

,CrimeId,OriginalCrimeTypeName,OffenseDate,CallTime,CallDateTime,Disposition,Address,City,State,AgencyId,Range,AddressType
0,160903280,Assault / Battery,2016-03-30T00:00:00,18:42,2016-03-30T18:42:00,REP,100 Block Of Chilton Av,San Francisco,CA,1,NaN,Premise Address
1,160912272,Homeless Complaint,2016-03-31T00:00:00,15:31,2016-03-31T15:31:00,GOA,2300 Block Of Market St,San Francisco,CA,1,NaN,Premise Address
2,160912590,Susp Info,2016-03-31T00:00:00,16:49,2016-03-31T16:49:00,GOA,2300 Block Of Market St,San Francisco,CA,1,NaN,Premise Address
3,160912801,Report,2016-03-31T00:00:00,17:38,2016-03-31T17:38:00,GOA,500 Block Of 7th St,San Francisco,CA,1,NaN,Premise Address
4,160912811,594,2016-03-31T00:00:00,17:42,2016-03-31T17:42:00,REP,Beale St/bryant St,San Francisco,CA,1,NaN,Intersection
...,...,...,...,...,...,...,...,...,...,...,...,...
10046,160964210,Well Being Check,2016-04-05T00:00:00,23:38,2016-04-05T23:38:00,GOA,Hollister Av/hawes St,San Francisco,CA,1,NaN,Intersection
10047,160964216,Traffic Stop,2016-04-05T00:00:00,23:43,2016-04-05T23:43:00,ADV,California St/mason St,San Francisco,CA,1,NaN,Intersection
10048,160964227,Traffic Stop,2016-04-05T00:00:00,23:48,2016-04-05T23:48:00,CIT,Rosella Ct/onondaga Av,San Francisco,CA,1,NaN,Intersection
10049,160964229,Passing Call,2016-04-05T00:00:00,23:48,2016-04-05T23:48:00,Not recorded,0 Blk Herbst Rd,San Francisco,CA,1,NaN,Geo-Override
10050,160964249,Traffic Stop,2016-04-05T00:00:00,23:54,2016-04-05T23:54:00,ADV,Grant Av/geary St,San Francisco,CA,1,NaN,Intersection

In [5]:
data.dtypes

CrimeId                    int64
OriginalCrimeTypeName     object
OffenseDate               object
CallTime                  object
CallDateTime              object
Disposition               object
Address                   object
City                      object
State                     object
AgencyId                  object
Range                    float64
AddressType               object
dtype: object

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10051 entries, 0 to 10050
Data columns (total 12 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   CrimeId                10051 non-null  int64
 1   OriginalCrimeTypeName  10051 non-null  object
 2   OffenseDate            10051 non-null  object
 3   CallTime               10051 non-null  object
 4   CallDateTime           10051 non-null  object
 5   Disposition            10051 non-null  object
 6   Address                10051 non-null  object
 7   City                   9730 non-null   object
 8   State                  10048 non-null  object
 9   AgencyId               10051 non-null  object
 10  Range                  0 non-null      float64
 11  AddressType            10051 non-null  object
dtypes: float64(1), int64(1), object(10)
memory usage: 942.4+ KB

In [7]:
data.head()

,CrimeId,OriginalCrimeTypeName,OffenseDate,CallTime,CallDateTime,Disposition,Address,City,State,AgencyId,Range,AddressType
0,160903280,Assault / Battery,2016-03-30T00:00:00,18:42,2016-03-30T18:42:00,REP,100 Block Of Chilton Av,San Francisco,CA,1,NaN,Premise Address
1,160912272,Homeless Complaint,2016-03-31T00:00:00,15:31,2016-03-31T15:31:00,GOA,2300 Block Of Market St,San Francisco,CA,1,NaN,Premise Address
2,160912590,Susp Info,2016-03-31T00:00:00,16:49,2016-03-31T16:49:00,GOA,2300 Block Of Market St,San Francisco,CA,1,NaN,Premise Address
3,160912801,Report,2016-03-31T00:00:00,17:38,2016-03-31T17:38:00,GOA,500 Block Of 7th St,San Francisco,CA,1,NaN,Premise Address
4,160912811,594,2016-03-31T00:00:00,17:42,2016-03-31T17:42:00,REP,Beale St/bryant St,San Francisco,CA,1,NaN,Intersection

In [8]:
data.tail()

,CrimeId,OriginalCrimeTypeName,OffenseDate,CallTime,CallDateTime,Disposition,Address,City,State,AgencyId,Range,AddressType
10046,160964210,Well Being Check,2016-04-05T00:00:00,23:38,2016-04-05T23:38:00,GOA,Hollister Av/hawes St,San Francisco,CA,1,NaN,Intersection
10047,160964216,Traffic Stop,2016-04-05T00:00:00,23:43,2016-04-05T23:43:00,ADV,California St/mason St,San Francisco,CA,1,NaN,Intersection
10048,160964227,Traffic Stop,2016-04-05T00:00:00,23:48,2016-04-05T23:48:00,CIT,Rosella Ct/onondaga Av,San Francisco,CA,1,NaN,Intersection
10049,160964229,Passing Call,2016-04-05T00:00:00,23:48,2016-04-05T23:48:00,Not recorded,0 Blk Herbst Rd,San Francisco,CA,1,NaN,Geo-Override
10050,160964249,Traffic Stop,2016-04-05T00:00:00,23:54,2016-04-05T23:54:00,ADV,Grant Av/geary St,San Francisco,CA,1,NaN,Intersection

In [9]:
data["CrimeId"].describe()

count    1.005100e+04
mean     1.609394e+08
std      1.327006e+04
min      1.609033e+08
25%      1.609303e+08
50%      1.609408e+08
75%      1.609513e+08
max      1.609642e+08
Name: CrimeId, dtype: float64

In [10]:
data["OriginalCrimeTypeName"].describe()

count            10051
unique             575
top       Traffic Stop
freq              1215
Name: OriginalCrimeTypeName, dtype: object

In [11]:
data["OffenseDate"].describe()

count                   10051
unique                      9
top       2016-04-02T00:00:00
freq                     2259
Name: OffenseDate, dtype: object

In [12]:
data["CallDateTime"].describe()

count                   10051
unique                   5116
top       2016-04-04T12:23:00
freq                        8
Name: CallDateTime, dtype: object

In [13]:
data["Disposition"].describe()

count     10051
unique       19
top         HAN
freq       2820
Name: Disposition, dtype: object

In [14]:
data["Address"].describe()

count                      10051
unique                      5387
top       900 Block Of Market St
freq                          58
Name: Address, dtype: object

In [15]:
data["City"].describe()

count              9730
unique                8
top       San Francisco
freq               9665
Name: City, dtype: object

In [16]:
data["State"].describe()

count     10048
unique        1
top          CA
freq      10048
Name: State, dtype: object

In [17]:
data["AgencyId"].describe()

count     10051
unique        2
top           1
freq      10048
Name: AgencyId, dtype: object

In [47]:
duplicados = data.loc[data.duplicated('CrimeId', keep=False)]['OriginalCrimeTypeName']
print(duplicados)

26               Vandalism
1707                  Susp
3792          Passing Call
7045          Passing Call
7046    Suspicious Vehicle
7047            Trespasser
Name: OriginalCrimeTypeName, dtype: object

In [45]:
query1 = data.groupby("CrimeId")['CrimeId'].count()
query2 = data.groupby("OriginalCrimeTypeName")['OriginalCrimeTypeName'].count()
query3 = data.groupby("OffenseDate")['OffenseDate'].count()
query4 = data.groupby("CallTime")['CallTime'].count()
query5 = data.groupby("CallDateTime")['CallDateTime'].count()
query6 = data.groupby("Disposition")['Disposition'].count()
query7 = data.groupby("Address")['Address'].count()
query8 = data.groupby("City")['City'].count()
query9 = data.groupby("State")['State'].count()
query10 = data.groupby("AgencyId")['AgencyId'].count()
query11 = data.groupby("Range")['Range'].count()
query12 = data.groupby("AddressType")['AddressType'].count()

print(query1)

CrimeId
160903280    1
160912272    1
160912590    1
160912801    1
160912811    1
            ..
160964210    1
160964216    1
160964227    1
160964229    1
160964249    1
Name: CrimeId, Length: 10047, dtype: int64

In [20]:
data.to_json("../data/processed/data.json")

# Estructura de fichero

1.	Te has encontrado con un fichero CSV cuyo formato es:
a. Fichero de valores sin comillas y separados por comas.
b. Fichero de valores sin comillas y separados por punto y coma. <------------------------
c. Fichero de valores con comillas y separados por comas.
d. Fichero de valores con comillas y separados por punto y coma.

2.	Â¿Existe algÃºn campo con valores Ãºnicos que pueda servir de clave principal?
a. SÃ­, y realmente son registros Ãºnicos. <------------------------------------------------
b. No, y es necesario incluir otro campo mÃ¡s para conseguir una clave principal.
c. SÃ­, pero es recomendable utilizar otro campo mÃ¡s para conseguir una clave principal.
d. SÃ­, pero existen registros duplicados que impiden la unicidad del campo.

3.	En relaciÃ³n con los campos del fichero y los valores que contienen, la siguiente afirmaciÃ³n es verdadera:
a.	Existen tres campos que son nulos en su totalidad y pueden ser eliminados del fichero.
b.	Todos los campos tienen valores y, por ello, deben mantenerse en el fichero.
c.	Existe un campo que no contiene informaciÃ³n y podrÃ­a eliminarse del fichero. <-------------------------------
d.	Existen campos con cadenas de textos repetidas que podrÃ­an ser eliminados del fichero.

4.	DespuÃ©s de revisar el fichero con detenimiento, se puede decir que los siguientes son problemas que existen en el fichero:
a.	Existen registros que por su ID directamente son duplicados y deben eliminarse.
b.	Existen registros cuyos ID estÃ¡n duplicados, pero podrÃ­an no ser registros duplicados y, por ello, eliminarlos no debe ser la primera opciÃ³n.
c.	Existen registros que estÃ¡n desplazados dentro del fichero.<----------------------------------
d.	Existen campos con formato de fechas diferentes.

5.	DespuÃ©s de revisar los valores con formato de cadenas o string, se puede decir que los siguientes son problemas que existen en el fichero:
a.	Hay campos numÃ©ricos discretos con formato de cadena en campos que son numÃ©ricos. <--------------------------
b.	Existen valores de cadena con problemas de comillas simples y dobles.
c.	Existen valores de cadena que no son uniformes ni estÃ¡n normalizados.
d.	Existen campos categÃ³ricos que tipifican datos y no estÃ¡n normalizados.

6.	DespuÃ©s de identificar y eliminar todos los problemas del fichero CSV, si este se convierte a JSON, la estructura y el formato a continuaciÃ³n son los que mÃ¡s se aproximan al resultado final:
a.	OpciÃ³n 1.
b.	OpciÃ³n 2.
c.	OpciÃ³n 3. <-------------------------------------
d.	OpciÃ³n 4.

7.	En esta actividad has llevado a cabo algunas tareas de limpieza que son necesarias para almacenar los datos. Partiendo de este objetivo, si en un proyecto de datos recibirÃ¡s muchos ficheros en los que puede variar el nÃºmero de campos, el tipo de datos y la cantidad de registros, quÃ© formato de fichero recomendarÃ­as para recibir toda esa informaciÃ³n y minimizar los pasos en el almacenamiento:
a.	CSV y XML.
b.	CSV, XML y JSON.
c.	JSON<----------------------------
d.	CSV